/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  height: 10vh;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.rotate {
    ​​ animation: rotation 1s infinite linear;
}
@keyframes rotation {
    ​​ from
{
    ​​ transform: rotate(-10deg);
}
to {
    ​​ transform: rotate(10deg);
}​​
}

​​
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #516049;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

header {
    width: 100%;
    text-align: right;
}

#logo {
    width: 20vw;
    height: auto;
    float: left;
    margin-left: 1vw;
}
.header{
    height: 10vw;
}

.btn-orange {
    color: #fff;
    background-color: #FF8600;
    border-color: #DF811B;
}

.drink_card_main {
    ​​width: 70vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.58);
    margin-left: -5vw;
    border-radius: 0.3vw;
    color: white;
    padding: 3vw;
}

/*design for drink card page*/
.drink_card_main {
    width: 70vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.58);
    margin-left: -5vw;
    border-radius: 0.3vw;
    color: white;
    padding: 3vw;
}
.drink_card_img {
    width: 20vw;
    height: auto;
    margin-right: 3vw;
    float: left;
}
.info {
    width: 35vw;
    height: auto;    
}
.howToMake{
    margin-top: 3vw;
}


/*next*/