@page
@model CreateModel
@{
    ViewData["Title"] = "Create Drink";
}
<style>
body {
    color: white;
}
</style>

<div class="row justify-content-center">
    <div class="col-lg-6 drink_card_main">
        <form>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select form-control" name="category">
                    <option value="1" selected>Liquor</option>
                    <option value="2">Beer</option>
                    <option value="3">Shots</option>
                    <option value="4">Non Alcoholic</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" placeholder="Type in description..." style="height: 100px"></textarea>
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <select class="form-select form-control" name="ingredients" multiple>
                    <option value="1" selected>Coffee liqueur</option>
                    <option value="2">1 1/2 oz Vodka</option>
                    <option value="3">Light cream</option>
                    <option value="4">Cubes ice</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <textarea class="form-control" name="instructions" placeholder="Type in instructions..." style="height: 100px"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" name="image"/>
            </div>
            <button type="submit" class="btn btn-orange">Create</button>
        </form>
    </div>
</div>