@page
@model Drink_cardModel
@{
    ViewData["Title"] = "Drink card";
}
<body style="margin: 0;">
    <div class="drink_card_main">
        <img src="~/img/cocktails.jpeg" class="drink_card_img" />
        <div class="info">
            <h3>Drink navn</h3>
            <p>Beskrivelse der er lang og kedelig</p>
            <b>ingredients:</b>
            <ul>
                <li>Vodka!!!</li>
                <li>Mere vodka!</li>
                <li>lille juicebrik</li>
            </ul>
        </div>
        <br />
        <div class="howToMake">
            <b>How to make it!</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem ex, fermentum auctor ante at, interdum blandit erat. Sed pretium tempus faucibus. Proin at eros sit amet eros condimentum facilisis. Vivamus viverra semper est, id sollicitudin est dictum nec. Nam accumsan mauris non faucibus porta. Donec in tellus ut magna ultricies euismod. Donec vestibulum lectus sed elementum interdum. Cras volutpat feugiat dui ac elementum. Aenean interdum rutrum molestie. Morbi mi risus, rhoncus a consequat ac, bibendum ut neque. Vestibulum elementum orci justo. Aliquam a dui leo. Vestibulum fringilla, odio in feugiat suscipit, lacus nulla tempus tellus, in viverra est elit vitae sapien. Proin a dapibus velit, a convallis purus. Nam lobortis nisi vel sapien volutpat, nec mollis mi mattis. </p>
        </div>
    </div>
</body>