@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row mt-5">
    <div class="col">
        <div class="card text-center">
            <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" data-holder-rendered="true" alt="Image cap [100%x180]" style="height: 180px; width: 60%; display: block;" src="https://www.cannonhillbrewing.com.au/wp-content/uploads/2017/04/glass1.png">
            <div class="card-body">
                <a href="Category">Liquor</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" data-holder-rendered="true" alt="Image cap [100%x180]" style="height: 180px; width: 100%; display: block;" src="https://purepng.com/public/uploads/large/purepng.com-glass-of-beerbeeralcoholdrinkgerman-drinkglas-of-beer-2315193390566qzyr.png">
            <div class="card-body">
                <a href="Category">Beer</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" data-holder-rendered="true" alt="Image cap [100%x180]" style="height: 180px; width: 100%; display: block;" src="https://ribworks.com/wp-content/uploads/revslider/ribworks2/shots_0000s_0000_Double-click-to-change-SHOTS.png">
            <div class="card-body">
                <a href="Category">Shots</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img class="card-img-top" data-src="holder.js/100px180/?text=Image cap" data-holder-rendered="true" alt="Image cap [100%x180]" style="height: 180px; width: 100%; display: block;" src="https://cdn.shopify.com/s/files/1/1061/1924/products/14_large.png?v=1571606116">
            <div class="card-body">
                <a href="Category">Non Alcoholic</a>
            </div>
        </div>
    </div>
</div>
<img src="~/img/seppi.png" style="width:15vw;float:right;margin-top:15vh;" class="rotate" />